
@dialog-background: rgba(0,0,0,0.8);
@logo-margin-sm: @logo-margin/2;

section.about-me {
  background-image: url('/assets/images/code-skills-bg.jpg');
  background-size: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .silk {
    background-color: rgba(255,255,255,0.75);

    .container {
      padding: @logo-margin-sm;
      padding-bottom: @logo-margin;

      @media all and @normal-screen {
        padding: @logo-margin @logo-margin @logo-margin ( @logo-size + 2*@logo-margin );
      }
    }
  }

  .dialog {
    position: relative;
    padding: @logo-margin-sm;
    background-color: @dialog-background;
    color: white;
    line-height: 1.4rem;

    @media all and @normal-screen {
      padding: @logo-margin;
    }

    &:before {
      content: ''; display: block;
      position: absolute;

      left: @logo-margin; top: -@logo-margin;
      border-left: @logo-margin solid transparent;
      border-bottom: @logo-margin solid @dialog-background;
      border-right: @logo-margin solid transparent;
      border-top: 0;

      @media all and @normal-screen {
        top: 0; left: -@logo-margin;
        border-top: @logo-margin solid transparent;
        border-right: @logo-margin solid @dialog-background;
        border-bottom: @logo-margin solid transparent;
        border-left: 0;
      }
    }

    p + p {
      margin-top: @logo-margin;
    }
  }
}
