
// header

@logo-size-sm: @logo-size/2;

header.header {
  height: @logo-size-sm + @logo-margin;
  @media all and @normal-screen {
    height: 2*@logo-size/3;
  }

  a.picture {

    float: left;
    display: inline-block;
    position: relative;

    padding: @logo-margin/2;
    @media all and @normal-screen {
      padding: 0;
      margin: @logo-margin;
    }

    @media all and @small-screen {
      &:before, &:after {
        content: ''; display: block;
      }

      .lines, &:before, &:after {
        position: absolute;
        left: 0; width: 50%;
        margin-top: -0.25rem;
        height: 0.5rem;
        background: lighten(@brand-dark-gray, 50%);
        z-index: -1;
      }

      .lines {
        top: 50%;
      }

      &:before {
        top: 30%;
      }

      &:after {
        top: 70%;
      }
    }

    img {
      border: 1px solid black;

      vertical-align: top;
      height: @logo-size-sm;
      width: @logo-size-sm;

      @media all and @normal-screen {
        .box-shadow( 0 0 @rem 0 rgba(0, 0, 0, 0.6) );
        height: @logo-size;
        width: @logo-size;
    	}
    }
  }

  .me {
    padding-top: @logo-margin;
    margin-left: @logo-margin/2;
    display: inline-block;

    a.name {
      font-size: 1.4rem;
      text-decoration: none;
      display: inline-block;
      margin-bottom: 0.4rem;
      text-shadow: 0 0 1px rgba(0,0,0,0.5);

      color: darken(@brand-primary, 20%);

      .hover {
        display: none;
      }

      &:hover .hover {
        display: inherit;

        span {
          color: @brand-dark-gray;
        }
      }

      &:hover .normal {
        display: none;
      }
    }

    .role {
      font-family: Lobster;

      font-size: 1.2*@rem;
      @media all and @normal-screen {
        font-size: 1.4*@rem;
      }
      // font-weight: bold;
      color: #444;
    }
  }
}
