<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Jesús Germade | ${i18n.role}</title>
    <meta name="description" lang="${lang}" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/joshua.jpg" />

    <link rel="stylesheet" href="/assets/css/site.css" />

    <script src="//localhost:35729/livereload.js"></script>
  </head>
  <body>
    <header class="header">
      <nav class="container">
        <a href="${rootUrl}" class="picture">
          <div class="lines"></div>
          <img alt="picture" src="/assets/images/joshua.jpg"/>
        </a>
        <div class="me">
          <a href="${rootUrl}" class="name">
            <span class="normal">Jesús Germade</span>
            <span class="hover">Jesus<span>.</span>Germade<span>.</span>es</span>
          </a>
          <div class="role">${i18n.role}</div>
        </div>
      </nav>
    </header>

    <section class="about-me">
      <div class="silk">
        <div class="container">
          <div class="dialog">${aboutMe}</div>
        </div>
      </div>
    </section>

    <section class="skills">

      <div class="skill">
        <div class="skill-image">
          <img alt="angular" src="/assets/images/logo-angular.svg"/>
        </div>
        <div class="skill-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
      </div>

      <div class="skill image-right">
        <div class="skill-image">
          <img alt="angular" src="/assets/images/logo-node.svg"/>
        </div>
        <div class="skill-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
      </div>

    </section>

    <footer>

    </footer>
  </body>
</html>
